/* Paleta de colores y fuente seleccionadas */
$a-yellow: #E0B872;
$a-green: #A4E8DB;
$a-purple: #8A2A5A;
$a-orange: #BE594F;
$a-blue: #6095E8;
$a-text: 'Poppins', sans-serif;
$a-title: 'Alkatra', cursive;

/* Normalización de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Permite controlar el tamaño de fuente en rem: 1rem = 10px y fondo de la página */
html {
    font-size: 62.5%;
    width: 100vw;
    min-height: 100vh;
    font-family: $a-text;
    overflow-x: hidden;
}

/* Transiciones */
@mixin a-transition {
    transition: all 0.3s;
}

/* Botones */
.a-button {
    color: #ffffffff;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: $a-title;
    padding: 10px 20px;
    background: $a-purple;
    border: 2px solid $a-yellow;
    border-radius: 30px;
    margin: 20px auto;
    margin-bottom: 0;
    width:fit-content;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    @include a-transition;


    &:hover {
        background: $a-orange;
        color: #ffffffff;
    }
}

